{% load static wagtailcore_tags wagtailimages_tags %}


<div class="col-md-6 col-lg-4">
    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-{{ self.heading|slugify }}">
        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fa fa-search-plus fa-3x"></i>
            </div>
        </div>
        {% image self.image width-900 class="img-fluid" %}
    </a>
</div>

<div class="portfolio-modal mfp-hide" id="portfolio-modal-{{ self.heading|slugify }}">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0 text-center">{{ self.heading }}</h2>
                    <hr class="star-dark mb-5">

                    {% image self.image width-900 class="img-fluid mb-5" %}

                    <div class="mb-5">{{ self.intro|richtext }}</div>

                    <div class="text-center">

                      <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>
                        Close </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
